# API Keys
KALSHI_API_KEY=
NWS_API_KEY=

# Kalshi Read-Only Auth
KALSHI_API_BASE_URL=https://external-api.kalshi.com/trade-api/v2
KALSHI_API_KEY_ID=
KALSHI_READ_ONLY_RSA_KEY_PATH=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=kalshi_kmia

# Application
ENVIRONMENT=development
LOG_LEVEL=INFO
